:root {
  /* Primary color */
  --strong-cyan: hsl(171, 66%, 44%);
  --l-blue: hsl(233, 100%, 69%);

  /* Neutral color */
  --d-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: 400;
  text-align: center;
  /* TODO: Revisit the background */
  background: url('../../images/bg-header-mobile.png') no-repeat;
  background-position: center top;
  background-size: contain;
  color: var(--d-grayish-blue);
  line-height: 1.7;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.7em;
}

a {
  display: block;
  text-decoration: none;
}

/* Utility classes  */
.container {
  width: 93%;
  max-width: 1176px;
  margin-inline: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mb-2 {
  margin-bottom: 2em;
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Content */
.header {
  min-height: 670px; /* Change this to use about 670px */
  margin-top: 7em;
}

.header img {
  width: 8em;
}

.header h1 {
  margin-top: 1.5em;
  margin-bottom: 0.7em;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2.5em;
  min-height: 120px;
}

/* TODO: Work on box-shadow (inset) */
.cta .btn__ios,
.cta .btn__mac {
  font-weight: 600;
  color: #ffffff;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-inline: 2em;
  border-radius: 50px;
}

.btn__ios {
  background-color: var(--strong-cyan);
}

.btn__mac {
  background-color: var(--l-blue);
}

.primary__section {
  margin-top: 8em;
}

.primary__section .ps__title {
  margin-bottom: 0.8em;
}

.primary__section .ps__text {
  margin-bottom: 5em;
}

.feature__img {
  margin-bottom: 3em;
}

.fc__group {
  margin-top: 4.5em;
}

.workflow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workflow img {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.company__logo {
  margin-top: 2em;
  margin-bottom: 2em;
}
